.doneExerciseCode {
    margin: 10px;
    padding: 10px;
}

.exerciseContainer {
    display: flex;
}

.exerciseInfo {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

button {
    margin: 5px !important;
}

.gradeContainer {
    margin: 15px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 300px;
    padding: 10px;
    text-align: center;
    max-height: 150px;
}