.gradeStudents {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 8px;
}

.gradeothersContainer {
    display: flex;
}

.studentCode {
    margin: 8px;
    padding: 8px;
    margin-left: -15px !important;
}

.dropdown {
    margin-bottom: 10px;
    width: 100%;
}

.grades {
    margin: 8px;
    padding: 8px;
}

.solutionButton {

}

.selectStudent {
    width: 100% !important;
}