.App {
  position: absolute;
  height: 100%;
  width: 100%;
}
.loginContener {
  box-sizing: inherit;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.coding {
  display: flex;
}

.logincontainer {
  width: fit-content;
}

.menu {
  width: 212x;
}
