.App {
  height: 900px;
  width: 1000px;
}
.coding {
  display: flex;
}

.menu {
  background-color: #C0B283;
  height: 760px;
  width: 15rem;
}

.logincontainer {
  width: fit-content;
}

.block {
  display: flex;
}

.detailList {
  height: 260px;
  overflow: auto;
  overflow-x: auto;
}
