.ui.modal > .content {
    width: 95% !important;
}

.studentInput {
    width: 30% !important;
    margin: 5px;
}

.ui.modal {
    text-align: center;
}

.dateInput {
    width: 250px !important;
}

.variantInput {
    width: 30% !important;
    margin: 5px;
    margin-right: 10px !important;
}
