.ui.modal > .content {
    width: 95% !important;
}

.studentInput {
    width: 30% !important;
    margin: 5px;
}

.ui.modal {
    text-align: center;
}

.sectionInput {
    width: 30% !important;
}
