.ui.modal > .content {
    width: 95% !important;
}

.studentInput {
    width: 30% !important;
    margin: 5px;
}

.ui.modal {
    text-align: center;
}

.dateInput {
    width: 245px !important;
    margin: 5px !important;
}

.variantAssignmentInput {
    width: 30% !important;
    margin: 5px;
    margin-right: 10px !important;
}

.assignexercisebutton {
    float: left;
}
