.ui.modal > .content {
    width: 95% !important;
}

.studentInput {
    width: 30% !important;
    margin: 5px;
}

.ui.modal {
    text-align: center;
}

.sectionInput {
    width: 10% !important;
}

.addtolistbutton {
    float: unset;
    width: 20%;
}

.addstudenttable {
    width: 103% !important;
}

.deletetablebutton {
    float: unset;
    width: 100% !important;
}

.laboratory {
    width: 320px !important;
}

.group {
    width: 270px !important;
}
.section {
    width: 270px !important;
}