.ui.modal > .content {
    width: 95% !important;
}

.groupInput {
    width: 100% !important;
}

.ui.primary.button {
    margin-bottom: 15px !important;
}
.addGroupbutton {
    float: left !important;
    width: 30% !important;
}