.ui.modal > .content {
    width: 95% !important;
}

.subjectInput {
    width: 89% !important;
    margin: 3px !important;

}

.subjectAInput {
    width: 9% !important;
    margin: 3px !important;
}