.login {
  color: gray;
  display: flex;
  float: right;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

// @media (min-width: 300px) {
//     .login {
//         width: 200px;
//     }
// }