.subjectContainer {
    margin: 10px;
    padding: 5px;
}
.addSubjectButton {
    margin-top: 10px !important;
}

.adminSubjects {
    margin: 10px;
    padding: 10px;
}
.subjectsList {
    max-height: 700px;
    overflow: auto;
}
