.ExerciseVariant {
    display: flex;
    margin: 15px;
}

.variants {
    height: 700px;
    overflow: auto;
    overflow-x: auto;
    width: 500px;
}

.iconbutton {
    width: 100px !important;
}


