.variantCodingContainer {
    display: flex;
    flex-direction: column
}

.variantcontainer {
    margin: 5px !important;
    padding: 5px !important;
}

.variantCodingContent {
    display: flex;
}

.variantCodingButtons {
    display: flex;
    flex-direction: column;
}