.studentdetailsContener {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.detailsHeader {
    margin: 10px !important;
    margin-left: 0 !important;
}

.studentTables {
    display: flex;
}

.assignmentTable {
    width: 470px !important;
}

.studentInputAssignment {
    width: 50px !important;
    margin: 3px;
}

.sectionInputAssignment {
    width: 70px !important;
    margin: 3px;
}

.addtolistbuttonAssignment {
    width: 96.5% !important;
    float: unset;
}

.addstudenttableAssignment {
    width: 450px !important;
}

.assignGroup {
    margin: 10px;
    margin-top: 0 !important;
    width: 500px;
    padding: 5px;
}

.dropdown {
    width: unset !important;
}
